.shadowbox {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.myBtn {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 10%;
  left: 90%;
  max-width: 40px;
  width: 100%;
  font-size: 16px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: rgb(104, 134, 108);
  padding: .5px;
  border-radius: 4px;
  z-index: 1;
  font-family: 'Roboto Mono', monospace;
}

.myBtn:hover {
  background-color: #7dbbf1;
}

.nav::after{
    transition: transform 150ms;
}
.nav__link:hover,
.nav__link:focus{
    transform: scale(1);
}
.nav__link {
    color: var(--clr-accent);
    text-transform: lowercase;
    text-decoration: none;
}
